body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("../img/andresa_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
  /* Mis NO trabajos */
  
  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: black;
  }
  